@tailwind base;    

@tailwind components;
@tailwind utilities;
 
@layer base { 
          
    @media (min-width: 1920px) {
        .container {
          max-width: 1920px!important;
        }
      } 
      
      @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
            url('../fonts/Roboto-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
            url('../fonts/Roboto-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Roboto';
        src: url('../fonts/Roboto-Light.woff2') format('woff2'),
            url('../fonts/Roboto-Light.woff') format('woff');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }
    h1,h2,h3,h4,h5,h6{
        font-family: 'Roboto';
        font-weight:bold;
    }

    h1 {
        @apply text-h1 leading-mainh1;  
      }
      h2 {
        @apply  text-h2 leading-mainh2;  
      }
      h3 {
        @apply text-h3  leading-mainh3;  
      }
      h4 {
        @apply text-h4;  
      }
  
      h5 {
        @apply text-h5;  
      }
      h6 {
        @apply text-h6;  
      }
      p {
        @apply text-p leading-loose leading-mainh2; 
        font-family: 'Roboto';
        font-style:normal;
      }
      
}


@layer components {  
    .main-headercont{
        @apply w-full float-left px-15 md:px-6 lg:px-6 xl:px-50 bg-white z-999 absolute md:fixed top-0;
    } 
    .header-bottomblk {
        @apply w-full float-left flex items-center pt-5 pb-5 lg:pt-10 lg:pb-10 xl:pt-50 xl:pb-60 justify-between duration-300 delay-300;
    }
    .header-fixed-block .header-bottomblk {
        @apply pt-5 pb-5  md:py-5;
    }
    .header-fixed-block .main-headercont{
        @apply shadow-lg;
    }
    
    .navigation-outer{
        @apply  justify-between md:flex;
    } 
    .main--navigation{
        @apply  justify-between  md:flex;
    }
    .main--navigation li { 
        @apply px-4 relative md:px-1 lg:px-2 2xl:px-4;
    }
    .main--navigation > li:first-child{
        @apply pl-0; 
    }
    .main--navigation li a{ 
        @apply text-20 font-bold md:text-sm lg:text-h6 2xl:text-20 tracking-wider;
    }
    .main--navigation li a:hover{ 
        @apply   opacity-90;
    }
    .main--navigation li ul.sub-navigation{ 
        @apply absolute left-0 top-3/4 opacity-0 invisible w-535 bg-white p-15 pb-0 duration-300 delay-300;
    }
    .main--navigation li:hover ul.sub-navigation{ 
        @apply top-full  opacity-100 visible;
    }
    .main--navigation li ul.sub-navigation li { 
        @apply pb-2.5 px-0;
    }
    .main--navigation li ul.sub-navigation li a{ 
        @apply text-h6 font-sans font-normal p-0 tracking-normal;
    }
    .main--navigation li ul.sub-navigation li a:hover{ 
        @apply  font-bold;
    }
    .opentrigger-icon {
        @apply w-5 outline-none md:hidden;
    }
    .opentrigger-icon span {
        @apply w-full float-left h-1.5 bg-graydrak mb-1.5;
    }
    .opentrigger-icon span:last-child {
        @apply   mb-0;
    }
    .mobi-version{
        @apply hidden;
    }
    .mobile-blocks{
        @apply hidden;
    }
    .close-iconblock{
        @apply hidden;
    }
    .main-bannerslider{
        @apply w-full h-auto float-left  md:h-500 relative overflow-hidden ;
    }
    .main-bannerslider ul li{
        @apply w-full float-left relative;
    }
    .main-bannerslider ul li .slider-image-block{
        @apply w-full h-screen md:h-500 ;
    }
    .main-bannerslider ul li .slider-image-block img{
        @apply w-full h-screen md:h-full;
    }
    .main-bannerslider ul li .slider-content-block{
        @apply w-full  absolute left-0 bg-transparent bottom-6 p-15 md:px-50 lg:px-100 xl:px-200;
    }
    .main-bannerslider ul li .slider-content-block h1{
        @apply w-full text-white uppercase pb-15 text-h2 leading-mainh2 md:text-5xl xl:text-6xl 2xl:text-h1;
    }
    .main-bannerslider ul li .slider-content-block h4{
        @apply w-full text-white uppercase text-h6 font-normal md:font-bold md:text-xl xl:text-h4;
    } 
    .listing-blocks li{
        @apply  w-full float-left pb-10;
    }
    .listing-blocks li a{
        @apply w-full float-left relative pl-14 md:pl-20 text-h6 xl:text-xl outline-none;
    }
    .listing-blocks li a strong{
        @apply w-full float-left text-h6 xl:text-xl  pb-1 pl-1;
    }
    .listing-blocks li a span{
        @apply w-full float-left text-h6 xl:text-xl   pl-1 tracking-wide;
    }
    .listing-blocks li a i{
        @apply absolute left-0 top-1/2 w-12 md:w-16 -mt-5 md:-mt-6;
    }
    .listing-blocks li a i img{
        @apply w-16;
    }
    .main-button{
        @apply w-auto float-left h-auto py-4 px-14 border-2 border-graydrak text-h5 xl:text-h2 font-bold text-graydrak uppercase leading-none mt-30 md:mt-7 bg-white duration-100 delay-300; 
    }
    .main-button:hover{
        @apply bg-graydrak text-white; 
    }
    .slider-outercont{
        @apply w-full;
    } 
    .slider-outercon li{
        @apply flex flex-row;
    }
    .single-sliderouter{
        @apply w-full h-auto float-left px-15 md:px-0 py-15 md:pb-50 md:pt-0 ;
    }
    .single-sliderouter h2{
        @apply uppercase px-0 md:px-50 pb-5;
    }
    .single-sliderouter ul li a{
        @apply  outline-none;
    }
    .single-sliderouter ul li .image-container{
        @apply  h-380;
    }
    .single-sliderouter ul li .image-container img{
        @apply  h-full;
    }
    .single-sliderouter ul li h5{
        @apply uppercase pl-0 md:pl-50 pt-3 md:pt-5;
    }  
    .content-detailssection  {
        @apply w-full px-0 pb-15 pt-30 md:p-50 md:pb-0;
    }
    .content-detailssection h3{
        @apply pb-30 text-h5 md:text-h3 uppercase;
    }
    .content-detailssection p{
        @apply pb-15 md:pb-30 text-base md:text-lg lg:text-p;
    }
    .content-detailssection a{
        @apply  text-base md:text-lg lg:text-p text-graydrak;
    }
    .content-detailssection a:hover{
        @apply underline;
    } 
    .detailslider-outercont{
        @apply w-full h-auto pt-15 md:pt-0;
    }
    .detailslider-outercont ul{
        @apply w-full h-full;
    }
    .detailslider-outercont ul li{
        @apply w-full h-full bg-secondary;
    }
}

body{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 13.3125rem;
    overflow-x: hidden;
  } 
  body.header-fixed-block{
      padding-top: 8.9375rem;
  }
    div#app{
    overflow-x: hidden;
    }

  .main-contentoutercon .left-block{
    /* max-width: 990px; */
    width: 54%;
    padding-right: 3.125rem;
} 
.main-contentoutercon .left-block h2{ 
    padding-bottom: 0.9375rem;
} 

.main-contentoutercon .left-block p{ 
    padding-bottom:3.125rem;
} 
.main-contentoutercon .left-block p:last-child{ 
    padding-bottom:0;
} 

.main-contentoutercon .right-block{
    /* max-width: 830px;  */
    width: 46%;
} 

.slider-outercont li .image-container{
    width: 46%;
    float: left;
    max-width:380px;
}
.slider-outercont li .content-container{
    width: 54%; 
    float: left;
    max-width:440px; 
    padding-left: 1.875rem;
}
.slider-outercont li .content-container ul li{
    width: 100%; 
    float: left;
    font-family: 'Roboto';
    font-style:normal;
    list-style: none;
    line-height: 2rem;
    font-size: 1.3125rem;
} 
.user-slideroutercont li{
    display: flex;
    flex-direction: row;
} 
.user-slideroutercont .image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
.single-sliderouter ul li {
   padding-bottom: 3.1875rem;
}
.single-sliderouter.dates-slider ul li {
    padding-bottom: 0;
}
.single-sliderouter ul li .image-container img{
    object-fit: cover;
    width: 100%;
} 
.single-sliderouter ul li h5 { 
    width: 100%;
    position: absolute;
    top: 100%;
    margin-top: -3.1875rem;
     -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
     -ms-transition: all 300ms ease-in-out;
     -o-transition: all 300ms ease-in-out;
}
.single-sliderouter ul li h5.active-headerblk{ 
    font-size: 1.75rem;
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: 22px;
} 
.detailslider-outercont{
    padding:0 3.125rem 0 6.25rem;
}
.detailslider-outercont ul li{
    position: relative;
    width: 100%;
    padding-top: 100%;
}
.detailslider-outercont ul li img{
    position: absolute;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    left: 0;
    top:0;
}
.single-sliderouter.dates-slide .innercontent-block{
    max-width: 285px;
    margin: 0 auto;
    float: none;
}

.single-sliderouter.dates-slider {
    padding: 0 3.125rem 3.125rem ;
}
.single-sliderouter.dates-slider h2{
    padding: 0 0 4.375rem 0 !important; 
}

.content-detailssection  {
    padding-top: 108px;
}
.content-detailssection .hooper-list{
    overflow: hidden;
}
.user-slideroutercont  .hooper-list{
    overflow: hidden;
}
  
@media only screen and (max-width: 1535px) {
    .main-contentoutercon .left-block{
        max-width: 850px;
        padding-right: 3.125rem;
    }  
    .main-contentoutercon .right-block{
        max-width: 730px; 
        width: 100%;
    } 
    .slider-outercont li .content-container p,
    .slider-outercont li .content-container ul li{
        font-size: 1rem;
        line-height: 1.5;
    }
    .main-button{ 
        padding: 1rem 1.5rem;
        width: 100%;
        text-align: center;
    }
    
    .main-contentoutercon .left-block{ 
        width: 65%; 
    }  
    .main-contentoutercon .right-block{ 
        width: 35%;
    }  
    .detailslider-outercont ul li{ 
        padding-top: 90%;
    }
}
 



@media only screen and (max-width: 1280px) {
    body{ 
        padding-top: 10.375rem;
    } 
    body.header-fixed-block{
        padding-top: 7.875;
    }
    .slider-outercont li {
       flex-direction: column;
    }
    .slider-outercont li .image-container{
        width: 100%; 
        max-width:none;
    }
    .slider-outercont li .content-container{
        width: 100%;  
        max-width:none; 
        padding: 1.875rem 0 0 0;
    } 
    .main-contentoutercon .left-block h2{
        font-size: 1.5rem;
    }
    .main-contentoutercon .left-block p{
        font-size: 1rem;
        line-height: 1.5;
    }
    .single-sliderouter h2{
        font-size: 1.5rem;
    }
    .single-sliderouter h5{
        font-size: 1rem;
    }
    
    .single-sliderouter h2{
        font-size: 1.5rem;
    }  
    .main-bannerslider ul li .slider-image-block img{
        width: 100%; height: 100%; object-fit: cover!important;
    }
    .detailslider-outercont {
        padding: 0 0 0 3.125rem;
    }


}
@media only screen and (max-width: 1200px) {
    .main--navigation li a{letter-spacing: 0; font-size:0.9375rem;}
}
    @media only screen and (max-width: 1023px) {
    body{ 
        padding-top: 100px;
    }
    
    .single-sliderouter ul li .image-container{
        height: 250px;
    }
}
@media only screen and (max-width: 992px) {
    
    body.header-fixed-block{
        padding-top:6.25rem;
    }
    .main--navigation li a{font-size: 12px;}
    .main--navigation li ul.sub-navigation li a{font-size: 12px;}
    .logo-container img{ width: 150px;}
}
  
  @media only screen and (max-width: 767px) {
    body{ 
        padding-top:0;
    }
    
    body.header-fixed-block{
        padding-top: 0;
    }
    .navigation-outer{
        position: fixed;
        background: #000;
        top:0;
        left: -90%;
        width: 90%;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        padding:40px 20px;
        transition-duration: 300ms;
        transition-delay: 150ms;
    }
    .menu-active .navigation-outer{
        left: 0;
    }
    .inner-nav-block{
        height: auto;
        padding: 0 0 100px 0;
    }
    .large-version{
        display: none;
    }
    
    .main--navigation li {
        width: 100%;
        float: left; 
        padding: 7px 0;
    }
    .main--navigation li > a{
        width: auto;
        float: left;
        color: #FFFFFF;
        font-size: 1rem; 
        line-height: 1;
        padding: 0;
    }
    .main--navigation li:last-child > a{
        width: auto;
        float: left;
        color: #000000;
        font-size: 1rem; 
        padding:0.3125rem 0.625rem;
        background: #FFFFFF;
        letter-spacing: .13em;
    }
    .main--navigation li ul.sub-navigation{ 
        float: left;
        width: 100%;
        position: relative;
        top: 0;
        opacity: 1;
        visibility: visible; 
        background: none;
        width: 100%;
        padding: 0.5625rem 0.4375rem 0 0.4375rem;
    }
    .main--navigation li:hover ul.sub-navigation{ 
        position: relative;
        top: 0;  
    }
    .main--navigation li ul.sub-navigation li  { 
        width: 100%;
        float: left;
        line-height: 17px; 
        font-size: 0.875rem;
        padding: 5px 0;
    }
    .main--navigation li ul.sub-navigation li a{
        width: 100%;
        float: left;
        color: #FFFFFF;
        font-size: 0.875rem;
        line-height: 17px;
        font-family: 'Roboto';
    }
    .main--navigation li ul.sub-navigation li:last-child a{
        width: 100%;
        float: left;
        color: #FFFFFF;
        font-size: 0.875rem;
        line-height: 17px;
        font-family: 'Roboto';
        background: none;
        letter-spacing: 0;
    }
    .main--navigation li ul.sub-navigation li a:hover{
        font-weight: normal;
    } 
    .logo-container img{
        width: 127px;
    }
    .social-outer{
        display:none;
    }
    .contact-outer{
        display: none;
    }
    .mobi-version{
        display: block;
    }
    .mobile-blocks{
        display: block;
        width: 100%;
        height: auto;
        float: left;
    }
    .mobile-blocks .language-outer{
        display: block;
        width: 100%;
        height: auto;
        float: left;
        padding-bottom: 1.6875rem;
    }
    .mobile-blocks .language-outer li  {
        padding-left: 0;
    }
    .mobile-blocks .language-outer li a{
        color: #FFFFFF;
        font-size: 0.9375rem;
    }
    .nav-top-block .language-outer{
        display: none; 
    }
    .close-iconblock{
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 40px;
        right: 27px;
    }
    .close-iconblock img{ 
        width: 16px;
        height: 16px; 
    }
    .mobile-blocks.botom-section ul{
        width: 100%;
        float: left; 
        flex-wrap: wrap;
        padding:1.875rem 0 ;
    }
    .mobile-blocks.botom-section li{
        width: 100%;
        float: left;
        padding:0.5rem 0;
    }
    .mobile-blocks.botom-section li:first-child img{
        height: 16px!important;
    }
    .mobile-blocks.botom-section li img{
        height: 20px!important;
    }
    .mobile-blocks.botom-section li:nth-child(3){
        width:auto; 
    }
    .mobile-blocks.botom-section li:nth-child(4){
        width:auto; 
        margin-left: 20px;
    }
    .nav-top-block{
        display:none;
    }

    .main-bannerslider ul li .slider-image-block img{
        width: 100%; height: 100%; object-fit: cover!important;
    } 
    .main-contentoutercon .left-block{
        max-width: none;
        width: 100%;
        padding: 0 0  1.875rem;
    }  
    .main-contentoutercon .right-block{
        max-width: none;
        width: 100%; 
    } 
    .main-contentoutercon .left-block p{
        padding-bottom: 0.9375rem;
    }
    .listing-blocks li{
        padding:0 0  0.9375rem 0.9375rem;
    }
    

    .main-contentoutercon .left-block h2{
        padding-top: 21px; 
        padding-bottom: 36px;
    }
    .main-contentoutercon .left-block h2:first-child{
        padding-top: 0;  
    }
    .listing-blocks li a strong{
        font-size: 0.75rem ;
    }
    .listing-blocks li a span{
        font-size: 0.75rem ;
    }
    .single-sliderouter.dates-slider{
        padding: 3.125rem 0.9375rem;
    }

    .single-sliderouter.dates-slider h2{
        padding: 0 0 1.875rem 0 !important; 
    }
    .content-detailssection{padding-bottom: 0;}
    
      .main-bannerslider ul li .slider-image-block{
          height: 60vh;
      }
      .main-bannerslider ul li .slider-content-block{
            height: 40vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
      }
  }

  *, ::before, ::after{
      outline: none;
  }






/* slider styling*/
.hooper {
    position: relative;
    box-sizing: border-box;
    width: 100%; 
}
.hooper * {
    box-sizing: border-box
}
.hooper-list { 
    width: 100%;
    height: 100%
}
.hooper-track {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0
}
.hooper.is-vertical .hooper-track {
    flex-direction: column;
    height: 200px
}
.hooper.is-rtl {
    direction: rtl
}
.hooper-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}
.hooper-slide {
    flex-shrink: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none
}
.hooper-progress {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 4px;
    background-color: #efefef
}
.hooper-progress-inner {
    height: 100%; 
    transition: .3s
}
.hooper-pagination {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    padding: 5px 10px
}
.hooper-indicators {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0
}
.hooper-indicator.is-active,
.hooper-indicator:hover { 
}
.hooper-indicator {
    margin: 0 2px;
    width: 12px;
    height: 4px;
    border-radius: 4px;
    border: none;
    padding: 0;
    background-color: #fff;
    cursor: pointer
}
.hooper-pagination.is-vertical {
    bottom: auto;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}
.hooper-pagination.is-vertical .hooper-indicators {
    flex-direction: column
}
.hooper-pagination.is-vertical .hooper-indicator {
    width: 6px
}
.hooper-next,
.hooper-prev {
    background-color: transparent;
    border: none;
    padding: 1em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer
}
.hooper-next.is-disabled,
.hooper-prev.is-disabled {
    opacity: .3;
    cursor: not-allowed
}
.hooper-next {
    right: 0
}
.hooper-prev {
    left: 0
}
.hooper-navigation.is-vertical .hooper-next {
    top: auto;
    bottom: 0;
    transform: initial
}
.hooper-navigation.is-vertical .hooper-prev {
    top: 0;
    bottom: auto;
    right: 0;
    left: auto;
    transform: initial
}
.hooper-navigation.is-rtl .hooper-prev {
    left: auto;
    right: 0
}
.hooper-navigation.is-rtl .hooper-next {
    right: auto;
    left: 0
}
/* slider styling*/


.main-bannerslider .hooper{
    height: 500px;
}
.main-bannerslider .hooper-navigation .hooper-next,
.main-bannerslider .hooper-navigation .hooper-prev { 
    width: 75px!important;
    height: 75px!important; 
    display: block !important;
    outline: none!important;
}
.main-bannerslider .hooper-navigation .hooper-next:hover,
.main-bannerslider .hooper-navigation .hooper-prev:hover { 
   opacity: .5;
}
.main-bannerslider .hooper-navigation .hooper-next svg ,
.main-bannerslider .hooper-navigation .hooper-prev svg { 
    display: none!important;
}
.main-bannerslider .hooper-navigation .hooper-prev  { 
    background: url(../public/images/left_arrow_lt.svg) no-repeat center center!important;
    background-size: 100% 100%!important;
}
.main-bannerslider .hooper-navigation .hooper-next  { 
    background: url(../public/images/right_arrow_lt.svg) no-repeat center center!important;
    background-size: 100% 100%!important;
    display: block !important;
}


.user-slideroutercont .hooper-navigation .hooper-next,
.user-slideroutercont .hooper-navigation .hooper-prev { 
    width: 30px!important;
    height: 30px!important; 
    display: block !important;
    outline: none!important;
}
.user-slideroutercont .hooper-navigation .hooper-next:hover,
.user-slideroutercont .hooper-navigation .hooper-prev:hover { 
   opacity: .5;
}
.user-slideroutercont .hooper-navigation .hooper-next svg ,
.user-slideroutercont .hooper-navigation .hooper-prev svg { 
    display: none!important;
}
.user-slideroutercont .hooper-navigation .hooper-prev  { 
    background: url(../public/images/left_arrow_lt.svg) no-repeat center center!important;
    background-size: 100% 100%!important;
}
.user-slideroutercont .hooper-navigation .hooper-next  { 
    right: auto;
    left: 100%;
    background: url(../public/images/right_arrow.svg) no-repeat center center!important;
    background-size: 100% 100%!important;
    display: block !important;
}
  
.single-sliderouter .hooper-navigation .hooper-next,
.single-sliderouter .hooper-navigation .hooper-prev { 
    width: 75px!important;
    height: 75px!important; 
    display: block !important;
    outline: none!important;
    margin-top: -27px!important;
}
.single-sliderouter .hooper-navigation .hooper-next:hover,
.single-sliderouter .hooper-navigation .hooper-prev:hover { 
   opacity: .5;
}
.single-sliderouter .hooper-navigation .hooper-next svg ,
.single-sliderouter .hooper-navigation .hooper-prev svg { 
    display: none!important;
}
.single-sliderouter .hooper-navigation .hooper-prev  { 
    background: url(../public/images/left_arrow_lt.svg) no-repeat center center!important;
    background-size: 100% 100%!important;
}
.single-sliderouter .hooper-navigation .hooper-next  { 
    background: url(../public/images/right_arrow_lt.svg) no-repeat center center!important;
    background-size: 100% 100%!important;
    display: block !important;
}






.detailslider-outercont .hooper-navigation .hooper-next,
.detailslider-outercont .hooper-navigation .hooper-prev { 
    width: 75px!important;
    height: 75px!important; 
    display: block !important;
    outline: none!important;
    margin-top:0!important;
}
.detailslider-outercont .hooper-navigation .hooper-next:hover,
.detailslider-outercont .hooper-navigation .hooper-prev:hover { 
   opacity: .5;
}
.detailslider-outercont .hooper-navigation .hooper-next svg,
.detailslider-outercont .hooper-navigation .hooper-prev svg { 
    display: none!important;
}
.detailslider-outercont .hooper-navigation .hooper-prev  { 
    background: url(../public/images/left_arrow.svg) no-repeat center center!important;
    background-size: 100% 100%!important; 
    left: auto;
    right: 100%;
}
.detailslider-outercont .hooper-navigation .hooper-next  { 
    right: auto;
    left: 100%;
    background: url(../public/images/right_arrow.svg) no-repeat center center!important;
    background-size: 100% 100%!important;
    display: block !important;
}



.single-sliderouter.dates-slider .hooper-navigation .hooper-next,
.single-sliderouter.dates-slider .hooper-navigation .hooper-prev { 
    width: 75px!important;
    height: 75px!important; 
    display: block !important;
    outline: none!important;
    margin-top:0!important; 
    top: 0 !important;
    transform: translateY(0) !important;
}
.single-sliderouter.dates-slider .hooper-navigation .hooper-next:hover,
.single-sliderouter.dates-slider .hooper-navigation .hooper-prev:hover { 
   opacity: .5;
}
.single-sliderouter.dates-slider .hooper-navigation .hooper-next svg,
.single-sliderouter.dates-slider .hooper-navigation .hooper-prev svg { 
    display: none!important;
}
.single-sliderouter.dates-slider .hooper-navigation .hooper-prev  { 
    background: url(../public/images/left_arrow.svg) no-repeat center center!important;
    background-size: 100% 100%!important;  
    left: auto;
    right: 100%;
    margin-right:-25px;
}
.single-sliderouter.dates-slider .hooper-navigation .hooper-next  {  
    background: url(../public/images/right_arrow.svg) no-repeat center center!important;
    background-size: 100% 100%!important;
    display: block !important;
    right: auto;
    left: 100%;
    margin-left:-25px;
}






@media only screen and (min-width: 1920px) { 
    .main-bannerslider ul li .slider-image-block img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center
    }
     
}

@media only screen and (min-width: 1536px) {   
    .main-contentoutercon .right-block{  
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 1500px) { 
    .detailslider-outercont .hooper-navigation .hooper-next,
    .detailslider-outercont .hooper-navigation .hooper-prev { 
        width: 50px!important;
        height: 50px!important; 
        display: block !important;
    }
    .single-sliderouter.dates-slider .hooper-navigation .hooper-next,
    .single-sliderouter.dates-slider .hooper-navigation .hooper-prev { 
        width: 50px!important;
        height: 50px!important; 
        display: block !important;
    }   
    
}
@media only screen and (max-width: 1280px) {
    .user-slideroutercont .hooper-navigation .hooper-next  { 
        right: 0;
        left: auto;
    }   
}
    @media only screen and (max-width: 1023px) { 
    .main-bannerslider .hooper-navigation .hooper-next,
    .main-bannerslider .hooper-navigation .hooper-prev { 
        width: 30px!important;
        height: 30px!important; 
        display: block !important;
        padding: 0!important;
    } 
    
    .single-sliderouter .hooper-navigation .hooper-next,
    .single-sliderouter .hooper-navigation .hooper-prev { 
        width: 30px!important;
        height: 30px!important; 
        display: block !important;
        padding: 0!important;
    } 
    
    .detailslider-outercont .hooper-navigation .hooper-next,
    .detailslider-outercont .hooper-navigation .hooper-prev { 
        width: 30px!important;
        height: 30px!important; 
        display: block !important;
        padding: 0!important;
    } 
    .single-sliderouter.dates-slider  .hooper-navigation .hooper-next,
    .single-sliderouter.dates-slider  .hooper-navigation .hooper-prev { 
        width: 30px!important;
        height: 30px!important; 
        display: block !important;
        padding: 0!important;
    } 
     
    
       
    .user-slideroutercont .hooper-navigation .hooper-next,
    .user-slideroutercont .hooper-navigation .hooper-prev { 
        display: none!important;
    }
}

@media only screen and (max-width: 767px) { 
    .main-bannerslider .hooper-navigation .hooper-next,
    .main-bannerslider .hooper-navigation .hooper-prev,
    .single-sliderouter .hooper-navigation .hooper-next,
    .single-sliderouter .hooper-navigation .hooper-prev,
    .detailslider-outercont .hooper-navigation .hooper-next,
    .detailslider-outercont .hooper-navigation .hooper-prev { 
        width: 15px!important;
        height: 15px!important; 
        display: block !important;
        padding: 0!important;
    } 
    
    .single-sliderouter.dates-slider  .hooper-navigation .hooper-next,
    .single-sliderouter.dates-slider  .hooper-navigation .hooper-prev { 
        width: 15px!important;
        height: 15px!important; 
        display: block !important;
        padding: 0!important; 
        top: 50% !important;
        transform: translateY(-50%) !important;
    } 
    .single-sliderouter.dates-slider .hooper-navigation .hooper-prev  {  
        left: 10px;
        right:auto;
    }
    .single-sliderouter.dates-slider .hooper-navigation .hooper-next  {   
        right: 10px;
        left: auto;
    }
    
    
    .main-bannerslider ul li .slider-content-block{
        padding:1.25rem 2rem;
        background: #000;
        bottom: 0;
    }
    
    .main-bannerslider .hooper-navigation .hooper-next,
    .single-sliderouter .hooper-navigation .hooper-next,
    .detailslider-outercont .hooper-navigation .hooper-next,
    .single-sliderouter.dates-slider  .hooper-navigation .hooper-next{right: 10px;}
    
    .single-sliderouter .hooper-navigation .hooper-prev,
    .detailslider-outercont .hooper-navigation .hooper-prev, 
    .single-sliderouter.dates-slider .hooper-navigation .hooper-prev,
    .main-bannerslider .hooper-navigation .hooper-prev{left: 10px;} 

    
    
    .main-bannerslider .hooper{
        height: 100vh;
    }
    
    
    .detailslider-outercont{
        padding:0px;
    } 
    .detailslider-outercont .hooper-navigation .hooper-prev  { 
        background: url(../public/images/left_arrow_lt.svg) no-repeat center center!important;
        background-size: 100% 100%!important; 
        left: 10px;
        right:auto;
    }
    .detailslider-outercont .hooper-navigation .hooper-next  { 
        right: 10px;
        left:auto;
        background: url(../public/images/right_arrow_lt.svg) no-repeat center center!important;
        background-size: 100% 100%!important; 
    }
     
    .single-sliderouter.dates-slider .innercontent-block{ 
        display: flex;
        justify-content: center;
    }
    .single-sliderouter h2{         
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }
    .single-sliderouter ul li h5 {        
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }
    .content-detailssection{
        padding-top: 60px;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }
    .single-sliderouter{
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;
    }
    .single-sliderouter ul li h5.active-headerblk{
        margin-top: 0;
        font-size: 1.4rem;
    } 
    .single-sliderouter ul li {
       padding-bottom: 1.25rem;
    } 
    .single-sliderouter ul li h5 {  
        margin-top: -1.25rem;
    }
    .single-sliderouter.dates-slider{
        padding-top: 1.25rem;
    }
    
}