<template>
<div>
            <hooper class="content-hooper" @slide="slideEvent" ref="hooper" :settings="contentSliderSettings">
              <slide v-for="(item, index) in content_data">
                  <a href="#" @click.prevent="showDetail(item.id,index)">
                    <div class="image-container">
                        <img :src="item.image" alt="img">
                    </div>
                    <h5 v-bind:class="checkOpened(item.title)">{{item.title}}</h5>
                </a>
              </slide>
              <hooper-navigation slot="hooper-addons"></hooper-navigation>
            </hooper>
            <!-- details section -->
                <div v-show="this.slider_detail[this.slider_type].title != ''" class="content-detailssection"> 
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div>
                            <div v-html="this.slider_detail[this.slider_type].content"> 
                            </div>
                            <a href="#">HIER KÖNNTE AUCH EIN LINK SEIN>> </a>
                        </div>
                        <div class="detailslider-outercont" v-if="this.slider_detail[this.slider_type].title != ''">
                            <hooper ref="slider"  :settings="childSliderSettings">
                                <slide v-for="(item, index) in this.slider_detail[this.slider_type].sliders">
                                    <img :src="item" alt="img">
                                </slide>
                                <hooper-navigation slot="hooper-addons"></hooper-navigation>
                                </hooper>
                        </div>
                        </div>
                </div>
                <!-- details section --> 
            </div>
        </template>

<script>
module.exports = {
  props: ['content_data','slider_detail','slider_type'],
  components: {
            Hooper: window.Hooper.Hooper,
            Slide: window.Hooper.Slide,
            HooperNavigation: window.Hooper.Navigation
  },
  data() {
            return {
                contentSliderSettings: {
                    infiniteScroll: true,
                    centerMode: false,
                    autoPlay: false,
                    playSpeed: 3000,
                    wheelControl: false,
                    breakpoints: {
                        2400: {
                            itemsToShow: 3.5
                        },
                        1800: {
                            itemsToShow: 3.5
                        },
                        1500: {
                            itemsToShow: 3.5
                        },
                        1100: {
                            itemsToShow: 2.5
                        },
                        768: {
                            itemsToShow: 2
                        },
                        0: {
                            itemsToShow: 1
                        }
                    }
                },
                childSliderSettings: {
                    infiniteScroll: true,
                    centerMode: false,
                    autoPlay: true,
                    playSpeed: 3500,
                    wheelControl: false,
                    breakpoints: {
                        2400: {
                            itemsToShow: 1
                        },
                        1800: {
                            itemsToShow: 1
                        },
                        1500: {
                            itemsToShow: 1
                        },
                        1100: {
                            itemsToShow: 1
                        },
                        768: {
                            itemsToShow: 1
                        },
                        0: {
                            itemsToShow: 1
                        }
                    }
                },
            }
      },
      methods: {
            showDetail(id, index) {
                
                const post = this.content_data.filter((obj)=>{
                    return obj.id === id;
                }).pop();

                if (index == 0) {
                    index = this.content_data.length;

                    if (this.$refs.hooper.currentSlide == 0) {
                        index = 0;
                    }
                }

                this.$refs.hooper.slideTo(index);

                this.slider_detail[this.slider_type].title = post.title;
                this.slider_detail[this.slider_type].content = post.content;
                this.slider_detail[this.slider_type].sliders = post.sliders;

                return this.$nextTick().then(() => {
                    this.$refs.slider.slideTo(0);
                    this.$refs.slider.update();
                });

                this.active = this.slider_detail[this.slider_type].title ;
            },

            slideEvent(){
                if (this.slider_detail[this.slider_type].title != '') {
                    var  index = 0
                    if (this.$refs.hooper.currentSlide == this.content_data.length) {
                        index = 0;
                    } else {
                        index = this.$refs.hooper.currentSlide;
                    }
                    
                    const post = this.content_data[index];
                    
                    this.$refs.hooper.slideTo(this.$refs.hooper.currentSlide);

                    this.slider_detail[this.slider_type].title = post.title;
                    this.slider_detail[this.slider_type].content = post.content;
                    this.slider_detail[this.slider_type].sliders = post.sliders;

                    return this.$nextTick().then(() => {
                        this.$refs.slider.slideTo(0);
                        this.$refs.slider.update();
                    });

                    this.active = this.slider_detail[this.slider_type].title ;
                }
            },

            checkOpened: function(title) {
                if (title == this.slider_detail[this.slider_type].title) {
                    return "active-headerblk";
                }

                return "";
            }
      }
}
</script>