<template>
        <hooper :settings="eventSliderSettings">
            <slide v-for="(item, index) in event_data">
                <div class="innercontent-block text-left">
                    <div class="date-block w-auto md:w-1/3  pl-5 md:pl-0 float-left text-right">
                        <strong class="w-full float-left text-56 font-bold leading-28 pb-15">{{item.day}}</strong>
                        <span class="w-full float-left text-p leading-5 font-normal text-gray-600">{{item.month}}</span>
                    </div>
                    <div class="events-block w-auto md:w-4/6  float-left pl-3 md:pl-30 pt-4  text-12 md:text-p">
                        <strong class="w-full float-left font-bold text-12 md:text-p">{{item.title}}</strong>
                        Zusatz-Info
                        <ul class="pt-15 text-12 md:text-p">
                            <li>Um {{item.time}}Uhr</li>
                            <li>im {{item.location}}</li>
                        </ul> 
                     </div>   
                    </div>
            </slide>
            <hooper-navigation slot="hooper-addons"></hooper-navigation>
    </hooper>
</template>

<script>
module.exports = {
  props: ['event_data'],
  components: {
            Hooper: window.Hooper.Hooper,
            Slide: window.Hooper.Slide,
            HooperNavigation: window.Hooper.Navigation
  },
  data() {
            return {
                eventSliderSettings: {
                    infiniteScroll: true,
                    centerMode: false,
                    autoPlay: true,
                    playSpeed: 3500,
                    wheelControl: false,
                    breakpoints: {
                        2400: {
                            itemsToShow: 4
                        },
                        1800: {
                            itemsToShow: 4
                        },
                        1500: {
                            itemsToShow: 3
                        },
                        1100: {
                            itemsToShow: 3
                        },
                        768: {
                            itemsToShow: 2
                        },
                        0: {
                            itemsToShow: 1
                        }
                    }
                },
            }
  }
}
</script>