<template>
        <hooper :settings="topSliderSettings">
            <slide v-for="(item, index) in top_data">
                    <div class="slider-image-block">
                        <img :src="item.image" alt="img">
                    </div>
                    <div class="slider-content-block">
                        <h1>{{item.title}}</h1>
                        <h4>{{item.sub_title}}</h4>
                    </div>
            </slide>
            <hooper-navigation slot="hooper-addons"></hooper-navigation>
    </hooper>
</template>

<script>
module.exports = {
  props: ['top_data'],
  components: {
            Hooper: window.Hooper.Hooper,
            Slide: window.Hooper.Slide,
            HooperNavigation: window.Hooper.Navigation
  },
  data() {
            return {
                topSliderSettings: {
                    infiniteScroll: true,
                    centerMode: false,
                    autoPlay: true,
                    playSpeed: 3500,
                    wheelControl: false,
                    breakpoints: {
                        2400: {
                            itemsToShow: 1.25
                        },
                        1800: {
                            itemsToShow: 1.25
                        },
                        1500: {
                            itemsToShow: 1.25
                        },
                        1100: {
                            itemsToShow: 1
                        },
                        0: {
                            itemsToShow: 1
                        }
                    }
                },
            }
  }
}
</script>