<template>
    <hooper class="slider-outercont" :settings="userSliderSettings">
        <slide v-for="(item, index) in user_data">
            <div class="image-container">
                <img :src="item.image" alt="img">
            </div>
            <div class="content-container" v-html="item.content">
            </div>
        </slide>
        <hooper-navigation slot="hooper-addons"></hooper-navigation>
    </hooper>
</template>

<script>
module.exports = {
  props: ['user_data'],
  components: {
            Hooper: window.Hooper.Hooper,
            Slide: window.Hooper.Slide,
            HooperNavigation: window.Hooper.Navigation
  },
  data() {
            return {
                userSliderSettings: {
                    infiniteScroll: true,
                    centerMode: false,
                    autoPlay: true,
                    playSpeed: 3000,
                    wheelControl: false,
                    breakpoints: {
                        2400: {
                            itemsToShow: 1
                        },
                        1800: {
                            itemsToShow: 1
                        },
                        1500: {
                            itemsToShow: 1
                        },
                        1100: {
                            itemsToShow: 1
                        },
                        0: {
                            itemsToShow: 1
                        }
                    }
                },
            }
      }
}
</script>